*{
    padding: 0px;
    margin: 0px;
}
.main{
    background-color:white;}

.main .c1{
    height: 80px;
    display: flex;
    justify-content: center;
}
.main .c1 .qc{
    width: 980px;
    height: 80px;
    background-image: url(../../assets/img/qcd.jpg);
}
.main .c2{
    height: 30px;
    display: flex;
    justify-content: center;    
}
.main .c2 .lc{
    height: 30px;
    width: 980px;
    display: flex;
    justify-content: right;
}
.main .c2 .lc ul{
    display: flex;
}
.main .c2 .lc ul li{
    list-style-type: none;
    margin-left: 30px;
}

.main .c2 .lc ul li a{
   
    line-height: 30px;  
    text-decoration: none;
    color: #666;
    font-family: Verdana;
    font-size: 15px;
}
.main .c3{
    height: 119px;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/img/bg-top.png);
}
.main .c3 .tc{
    height: 119px;
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .c3 .tc .chu > ul{
    display: flex;
}
.main .c3 .tc .chu ul li{
    list-style-type: none;
    height: 60px;
    width: 150px;
    position: relative;
    top:18px;
    font-family: Verdana;
    font-weight: bold;
}

.main .c3 .tc .chu ul li img{
    height: 59px;
    width: 136px; 
    position: absolute;
    bottom: 20px;
}
.main .c3 .tc .chu ul li a{
    text-decoration: none;
    line-height: 60px;
    color: black;
}
.main .c3 .tc .chu ul li .submenu{
    position: absolute;
    display: none;
    padding:0px 20px;
    border: 4px solid gray;
    right: 4px;
}
.main .c3 .tc .chu ul li .submenu li a{
    color: white;
    line-height: 5px;
}
.main .c3 .tc .chu ul li .submenu li a:hover{
    color:red;
}

.main .c3 .tc .chu ul li:hover .submenu{
    display: block;
    background-image: url(../../assets/img/bg_menu_hover.png);

}

.main .c5{
    width: auto;
    height: 500px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.main .c5 .c5_1{
    background-color: white;
    width: 250px;
    height: 500px;
}
.main .c5 .c5_1 .c5_1_1{
    color: red;
}
.main .c5 .c5_1 .c5_1_2{
    margin-top: 10px;
}
.main .c5 .c5_1 .c5_1_2 ul li{
    list-style-type: none;
    text-align: center;
    color: black;
    background-color: #666;
    padding: 5px;
    margin: 3px;
    box-sizing: border-box;
    height: 30px;
    width: 200px;
}
.main .c5 .c5_1 .c5_1_2 ul li a{
    text-decoration: none;
    background-color: #666;
    color: white;
}
.main .c5 .c5_1 .c5_1_2 ul li a:hover{
    color: black;
}
.main .c5 .c5_1 .c5_1_2 ul li.active a.item{
    color: black;
}
.main .c5 .c5_2{
    width: 700px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.main .c5 .c5_2 .c5_2_1{
    text-align: center;
    color: white;
    width: auto;
    height: 40px;
    background-color: black;
}
.main .c5 .c5_2 .c5_2_2 .c5_form{
    width: 100%;
    float: left;
    padding-bottom: 15px;
}
.main .c5 .c5_2 .c5_2_2 .c5_wellcome{
    width: 100%;
    padding-bottom: 15px;
    border-bottom: #666 solid 2px;
}
.main .c5 .c5_2 .c5_2_2 .c5_box .box_content .box_title{
    text-align: center;
    float: right;
    width: 100px;
    height: 25px;
    background-color: rgb(134, 0, 0);
    padding-top: 5px;
}
.main .c5 .c5_2 .c5_2_2 .c5_box .box_content .box_title a{
    text-decoration: none;
    color: white;
}
.main .c5 .c5_2 .c5_2_2 .c5_box .box_content .box_item{
    margin-top: 10px;
    margin-left: 3px;
}
.main .c5 .c5_2 .c5_2_2 .c5_form .input_box .input_text{
    display: none;
}
.main .c5 .c5_2 .c5_2_2 .c5_form .input_box .lable{
    background-color: #333;
    height: 30px;
    width: 75px;
    color: white;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
}
.main .c5 .c5_2 .c5_2_2 .c5_form .input_box #loadAvatar .img{
    border-radius: 50%;
    overflow: hidden;
}

.main .c10{
    height: 30px;
}
.main .c11{
    height: 190px;
    width: auto;
    display: flex;
    justify-content: center;
}
.main .c11 .tt{
    height: 100%;
    width: 980px;
    display: flex;
    justify-content: space-between;
}
.main .c11 .tt div{
    height: 100%;
    width: 240px;
}
.main .c11 .tt div p{
    margin-top: 30px;
    font-family: Verdana;
    font-size: 15px;
    color:gray;
    position: relative;
}

.main .c11 .tt div p a img:hover{
    height: 30px;
    width: 30px;
}

.main .c11 .tt div p b{
    color: #666;
    position: absolute;
    top:-10px;
    
}
.main .c12{
    height: 140px;
    width: auto;
    display: flex;
    justify-content: center;
}
.main .c12 .ttt{
    height: 100%;
    width: 980px;
    display: flex;
}
.main .c12 .ttt #lg2{
    height: 100%;
    width: 130px;
    margin-top:50px;
}
.main .c12 .ttt #ttin{
    height: 100%;
    width: auto;
    margin-top: 10px;
    color: gray;
    font-family: Verdana;
    font-size: 14px;}

.main .c13{
    height: 100px;
    width: auto;
    background-image: url(../../assets/img/bgbottom.jpg);
    
}