*{
    padding: 0px;
    margin: 0px;
}
.main{
    background-color:white;}
.main .c1{
    height: 80px;
    display: flex;
    justify-content: center;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c1{
        height: 9vw;
        display: flex;
        justify-content: center}
}
@media (max-width: 479px) {
    .main .c1{
       height: 9vw;
    }
}

.main .c1 .qc{
    width: 980px;
    height: 80px;
    background-image: url(../../assets/img/qcd.jpg);
}
    @media (max-width: 1023px) and (min-width: 480px){
        .main .c1 .qc{
            height: 100%;
            width: 100%;
            background-image: url(../../assets/img/qcd.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    @media (max-width: 479px){
        .main .c1 .qc{
            height: 100%;
            width: 100%;
            background-image: url(../../assets/img/qcd.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
.main .c2{
    height: 30px;
    display: flex;
    justify-content: center;    
}
@media (max-width: 479px) {
    .main .c2{
        height: 4vw;
        display: flex;
        justify-content: center;    
    }
}
@media (min-width:480px)and (max-width: 1024px) {
    .main .c2{
        height: 3vw;
        display: flex;
        justify-content: center;    
    }
}
.main .c2 .lc{
    height: 30px;
    width: 980px;
    display: flex;
    justify-content: right;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c2 .lc{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: left;
    }
}
@media (max-width: 479px){
    .main .c2 .lc{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: left;

    }
}
.main .c2 .lc ul{
    display: flex;
}
.main .c2 .lc ul li{
    list-style-type: none;
    margin-left: 30px;
}
@media (max-width: 1023px) and (min-width: 480px) {
    .main .c2 .lc ul li{
        list-style-type: none;
        margin-left: 20px;
        overflow: hidden;
    }
}
@media (max-width: 479px){
    .main .c2 .lc ul li{
        list-style-type: none;
        margin-left: 10px;
        overflow: hidden;
    }
}
.main .c2 .lc ul li a{
   
    line-height: 30px;  
    text-decoration: none;
    color: #666;
    font-family: Verdana;
    font-size: 15px;
}
@media (min-width:480px)and (max-width: 1024px) {
    .main .c2 .lc ul li a{
   
        line-height: 1.5vw;  
        text-decoration: none;
        color: #666;
        font-family: Verdana;
        font-size:1.5vw;
    }
}
@media (max-width: 479px) {
    .main .c2 .lc ul li a{
        line-height: 1.5vw;  
        text-decoration: none;
        color: #666;
        font-family: Verdana;
        font-size: 1vw;
    }
}
.main .c3{
    height: 119px;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/img/bg-top.png);
}
    @media (max-width: 1023px) and (min-width: 480px){
        .main .c3{
            height: 90px;
            display: flex;
            justify-content: center;
            background-image: url(../../assets/img/bg-top.png);
            background-size: contain;
        }
    }
    @media (max-width: 479px){
        .main .c3{
            height: 70px;
            display: flex;
            justify-content: center;
            background-image: url(../../assets/img/bg-top.png);
            background-size: contain;
        }
    }
.main .c3 .tc{
    height: 119px;
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width:480px)and (max-width: 1024px) {
    .main .c3{
        height: 12vw;
        display: flex;
        justify-content: center;
        background-image: url(../../assets/img/bg-top.png);
        background-size: contain;
    }
}
@media (max-width: 479px) {
    .main .c3{
        height: 10vw;
        display: flex;
        justify-content: center;
        background-image: url(../../assets/img/bg-top.png);
        background-size: contain;
    }
}
.main .c3 .tc .chu > ul{
    display: flex;
}
.main .c3 .tc .chu ul li{
    list-style-type: none;
    height: 60px;
    width: 150px;
    position: relative;
    top:18px;
    font-family: Verdana;
    font-weight: bold;
}
@media (min-width:480px)and (max-width: 1024px) {
    .main .c3 .tc .chu ul li{
        list-style-type: none;
        height: 3em;
        width: 20vw;
        position: relative;
        top:-1vw;
        font-family: Verdana;
        font-weight: bold;
    }
}
@media (max-width: 479px) {
    .main .c3 .tc .chu ul li{
        list-style-type: none;
        height: 4em;
        width: 20vw;
        position: relative;
        top:-1vw;
        font-family: Verdana;
        font-weight: bold;
        font-size: 0.4em;
        padding-bottom: 95px;
    }
}
.main .c3 .tc .chu ul li img{
    height: 59px;
    width: 136px; 
    position: absolute;
    bottom: 20px;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c3 .tc .chu ul li img{
        height: 5em;
        width: 8em; 
        position: absolute;
        bottom: 4em;
        display: none;
    }
}
@media (max-width: 479px) {
    .main .c3 .tc .chu ul li img{
        height: 4em;
        width: 8em; 
        position: absolute;
        bottom: -5px;
        display: none;
    }
}
.main .c3 .tc .chu ul li a{
    text-decoration: none;
    line-height: 60px;
    color: black;
}
@media (min-width:480px)and (max-width: 1024px) {
    .main .c3 .tc .chu ul li a{
        text-decoration: none;
        line-height: 2em;
        color: black;
        font-size: 2vw;
    }
}
.main .c3 .tc .chu ul li .submenu{
    position: absolute;
    display: none;
    padding:0px 20px;
    border: 4px solid gray;
    right: 4px;
}
.main .c3 .tc .chu ul li .submenu li a{
    color: white;
    line-height: 5px;
}
.main .c3 .tc .chu ul li .submenu li a:hover{
    color:red;
}

.main .c3 .tc .chu ul li:hover .submenu{
    display: block;
    background-image: url(../../assets/img/bg_menu_hover.png);
}

.main .c5{
    width: auto;
    height: 500px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c5{
        width: 25em;
        height: auto;
        margin-top: 30px;
        display: inline;
    }
}
@media (max-width: 479px){
    .main .c5{
        width: 20em;
        height: auto;
        margin-top: 30px;
        display: inline;
    }
}
.main .c5 .c5_1{
    background-color: white;
    width: auto;
    height: auto;
}
.main .c5 .c5_1 .c5_1_1{
    color: red;
}
.main .c5 .c5_1 .c5_1_2{
    margin-top: 10px;
}
.main .c5 .c5_1 .c5_1_2 ul li{
    list-style-type: none;
    text-align: center;
    color: black;
    background-color: #666;
    padding: 5px;
    margin: 3px;
    box-sizing: border-box;
    height: 30px;
    width: 200px;
}
.main .c5 .c5_1 .c5_1_2 ul li a{
    text-decoration: none;
    background-color: #666;
    color: white;
}
.main .c5 .c5_1 .c5_1_2 ul li a:hover{
    color: black;
}
.main .c5 .c5_1 .c5_1_2 ul li.active a.item{
    color: black;
}
.main .c5 .c5_2{
    width: 700px;
    height: 500px;
    background-color: white;
    flex-direction: column;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c5 .c5_2{
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 479px){
    .main .c5 .c5_2{
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
}
.main .c5 .c5_2 .page{
    text-align: center;
    color: white;
    width: auto;
    height: 40px;
    background-color: black;
}
.main .c5 .c5_2 .c5_main{
    width: 500px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c5 .c5_2 .c5_main{
        width: 500px;
        padding-top: 20px;
        display: flex;
        justify-content: left;
    }
}
@media (max-width: 479px){
    .main .c5 .c5_2 .c5_main{
        width: 100%;
        padding-top: 20px;
        display: inline;

    }
}
.main .c5 .c5_2 .c5_main .c5_column .main_item{
    padding-top: 10px;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c5 .c5_2 .c5_main .c5_column .main_item{
        padding-top: 10px;
        padding-left: 20px;
        width: 100%;
    }
}
@media (max-width: 479px){
    .main .c5 .c5_2 .c5_main .c5_column .main_item{
        padding-top: 10px;
        padding-left: 20px;
        max-width: 100%;
    }
}
.main .c5 .c5_2 .c5_footer1{
    padding-top: 10px;
}
.main .c5 .c5_2 .c5_footer1 .upload .save{
    float: none;
    width: 90px;
    height: 30px;
    color: white;
    background-color: black;
}
.main .c5 .c5_2 .c5_footer1 .c5_pass{
    background-color: rgb(107, 107, 107);
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 15%;
    border: 1px solid black;
}
.main .c5 .c5_2 .c5_footer1 #add{
    display: flex;
}
.main .c5 .c5_2 .c5_footer1 #add div{
    padding: 10px;
}
.main .c5 .c5_2 .c5_footer2{
    padding-top: 10px;
}
.main .c5 .c5_2 .c5_footer2 .first{
    padding-bottom: 5px;
    border-bottom: #333 solid 2px;
}
.main .c5 .c5_2 .c5_footer2 .list{
    padding-bottom: 10px;
}
.main .c5 .c5_2 .c5_footer2 .save .button{
    float: none;
    width: 90px;
    height: 30px;
    color: white;
    background-color: red;
}


.main .c10{
    height: 30px;
}
.main .c11{
    height: 190px;
    width: auto;
    display: flex;
    justify-content: center;
}
.main .c11 .tt{
    height: 100%;
    width: 980px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c11 .tt{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 479px){
    .main .c11 .tt{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.main .c11 .tt div{
    height: 100%;
    width: 240px;
}
.main .c11 .tt div p{
    margin-top: 30px;
    font-family: Verdana;
    font-size: 15px;
    color:gray;
    position: relative;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c11 .tt div p{
        margin-top: 30px;
        font-family: Verdana;
        font-size: 0.6em;
        color:gray;
        position: relative;
    }
}
@media (max-width: 479px){
    .main .c11 .tt div p{
        margin-top: 30px;
        font-family: Verdana;
        font-size: 0.2em;
        color:gray;
        position: relative;
    }
}
@media (min-width:480px)and (max-width: 1024px) {
    .main .c11 .tt div p a img{
        height: 3vw;
        width: 3vw;
    }
}
@media (max-width: 479px) {
    .main .c11 .tt div p a img{
        height: 3vw;
        width: 3vw;
    }
    
}   
.main .c11 .tt div p a img:hover{
    height: 30px;
    width: 30px;
}
.main .c11 .tt div p b{
    color: #666;
    position: absolute;
    top:-10px;
    
}
.main .c12{
    height: 140px;
    width: auto;
    display: flex;
    justify-content: center;
}
.main .c12 .ttt{
    height: 100%;
    width: 980px;
    display: flex;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c12 .ttt{
        height: 100%;
        width: 100%;
        display: flex;
    }
}
@media (max-width: 479px){
    .main .c12 .ttt{
        height: 100%;
        width: 100%;
        display: flex;
    }
}
.main .c12 .ttt #lg2{
    height: 100%;
    width: 130px;
    margin-top:50px;
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c12 .ttt #lg2{
        height: 50%;
        width: 70px;
        margin-top:30px;
        display: none;
    }
}
@media (max-width: 479px){
    .main .c12 .ttt #lg2{
        height: 50%;
        width: 65px;
        margin-top:30px;
        display: none;
    }
}
.main .c12 .ttt #ttin{
    height: 100%;
    width: auto;
    margin-top: 10px;
    color: gray;
    font-family: Verdana;
    font-size: 14px;
}
    @media (max-width: 1023px) and (min-width: 480px){
        .main .c12 .ttt #ttin{
            padding-left: 5px;
            height: 100%;
            width: 100%;
            margin-top: 10px;
            color: gray;
            font-family: Verdana;
            font-size: 0.6em;}
    }
    @media (max-width: 479px){
        .main .c12 .ttt #ttin{
            padding-left: 5px;
            height: 100%;
            width: 100%;
            margin-top: 8px;
            color: gray;
            font-family: Verdana;
            font-size: 0.6em;}
    }
.main .c13{
    height: 100px;
    width: auto;
    background-image: url(../../assets/img/bgbottom.jpg);
}
@media (max-width: 1023px) and (min-width: 480px){
    .main .c13{
        height: 75px;
        width: auto;
        background-image: url(../../assets/img/bgbottom.jpg);
        background-size: contain;
    }
}
@media (max-width: 479px){
    .main .c13{
        height: 60px;
        width: auto;
        background-image: url(../../assets/img/bgbottom.jpg);
        background-size: contain;
    }
}