* {
    padding: 0px;
    margin: 0px;
}

.main {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main .c1 {
    height: 80px;
    display: flex;
    justify-content: center;
}

.main .c1 .qc {
    width: 980px;
    height: 80px;
    background-image: url(../../assets/img/qcd.jpg);
}

.main .c2 {
    height: 30px;
    display: flex;
    justify-content: center;
}

.main .c2 .lc {
    height: 30px;
    width: 980px;
    display: flex;
    justify-content: right;
}

.main .c2 .lc ul {
    display: flex;
}

.main .c2 .lc ul li {
    list-style-type: none;
    margin-left: 30px;
}

.main .c2 .lc ul li a {
    line-height: 30px;
    text-decoration: none;
    color: #666;
    font-family: Verdana;
    font-size: 15px;
}

.main .c3 {
    height: 119px;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/img/bg-top.png);
}

.main .c3 .tc {
    height: 119px;
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .c3 .tc .chu>ul {
    display: flex;
}

.main .c3 .tc .chu ul li {
    list-style-type: none;
    height: 60px;
    width: 150px;
    position: relative;
    top: 18px;
    font-family: Verdana;
    font-weight: bold;
}

.main .c3 .tc .chu ul li img {
    height: 59px;
    width: 136px;
    position: absolute;
    bottom: 20px;
}

.main .c3 .tc .chu ul li a {
    text-decoration: none;
    line-height: 60px;
    color: black;
}

.main .c3 .tc .chu ul li .submenu {
    position: absolute;
    display: none;
    padding: 0px 20px;
    border: 4px solid gray;
    right: 4px;
}

.main .c3 .tc .chu ul li .submenu li a {
    color: white;
    line-height: 5px;
}

.main .c3 .tc .chu ul li .submenu li a:hover {
    color: red;
}

.main .c3 .tc .chu ul li:hover .submenu {
    display: block;
    background-image: url(../../assets/img/bg_menu_hover.png);
}

.main c5 {
    height: 30px;
}

.main .c6 {
    height: 190px;
    width: auto;
    display: flex;
    justify-content: center;
}

.main .c6 .tt {
    height: 100%;
    width: 980px;
    display: flex;
    justify-content: space-between;
}

.main .c6 .tt div {
    height: 100%;
    width: 240px;
}

.main .c6 .tt div p {
    margin-top: 30px;
    font-family: Verdana;
    font-size: 15px;
    color: gray;
    position: relative;
}

.main .c6 .tt div p a img:hover {
    height: 30px;
    width: 30px;
}

.main .c6 .tt div p b {
    color: #666;
    position: absolute;
    top: -10px;
}

.main .c7 {
    height: 140px;
    width: auto;
    display: flex;
    justify-content: center;
}

.main .c7 .ttt {
    height: 100%;
    width: 980px;
    display: flex;
}

.main .c7 .ttt #lg2 {
    height: 100%;
    width: 130px;
    margin-top: 50px;
}

.main .c7 .ttt #ttin {
    height: 100%;
    width: auto;
    margin-top: 10px;
    color: gray;
    font-family: Verdana;
    font-size: 14px;
}

.main .c8 {
    height: 100px;
    width: auto;
    background-image: url(../../assets/img/bgbottom.jpg);
}


/* Phan Noi Dung */

.main .c4 .Content {
    height: auto;
    display: flex;
    margin: 20px 0 50px 0px;
}

.main .Content_Sub_Menu {
    padding: 5px 266px;
    background-color: #f1f0e5;
    border-bottom: 1px solid #caca;
    font-size: 14px;
    font-weight: bolder;
    color: black!important;
}

.main .Content_Sub_Menu .fa-angle-right {
    opacity: 50%;
}


/* Menu dieu huong */


/* Phan Anh */

.main .c4 .Content .MenuTuyenDung {
    float: left;
    margin-left: 270px;
}

.main .c4 .Content .MenuTuyenDung .Sub_MenuTuyenDung {
    width: 200px;
    list-style: none;
}

.main .c4 .Content .MenuTuyenDung .Sub_MenuTuyenDung li {
    height: 35px;
    margin-bottom: 10px;
}

.main .c4 .Content .MenuTuyenDung .Sub_MenuTuyenDung .active {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/ribon_left.png) no-repeat scroll left center #e71a0f;
}

.main .c4 .Content .MenuTuyenDung .Sub_MenuTuyenDung .active a {
    color: white!important;
    text-decoration: none;
}

.main .c4 .Content .MenuTuyenDung .Sub_MenuTuyenDung .inactive {
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/ribon_left-ccc.png) no-repeat scroll left center #ccc;
}

.main .c4 .Content .MenuTuyenDung .Sub_MenuTuyenDung .inactive a {
    color: #666!important;
    text-decoration: none;
}

.main .c4 .Content .MenuTuyenDung .Sub_MenuTuyenDung li a {
    font-weight: bolder;
    line-height: 35px;
    font-size: 14px;
    padding-left: 22px;
}


/* Phan mo ta */

.main .c4 .Content .Describe {
    float: left;
    display: inline;
    max-width: 50%;
    margin-left: 20px;
}

.main .c4 .Content .Describe>h1 {
    padding-bottom: 30px;
}


/* Từng ô vuông */

.main .c4 .Content .Describe .Menu1 {
    height: 80px;
    width: 600px;
    background-color: #ededed;
    margin-bottom: 20px;
}

.main .c4 .Content .Describe .Menu1 .NoiDungOffice {
    float: left;
    display: inline;
}


/* định dạng bên trong ô vuông */

.main .c4 .Content .Describe .Menu1 .NoiDungOffice span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #636363;
    margin: 50px 0px 20px 20px!important;
}

.main .c4 .Content .Describe .Menu1 .NoiDungOffice p {
    font-size: 14px;
    color: #636363;
    margin: 10px 0px 10px 20px;
}

.main .c4 .Content .Describe .img {
    height: 80px;
    background: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-career-info.PNG") no-repeat scroll right center #ededed;
}