*{
    padding: 0px;
    margin: 0px;
}
.main .c1{
    height: 80px;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
}
.main .c1 .qc{
    width: 980px;
    height: 80px;
    background-color: aqua;
}
.main .c2{
    height: 30px;
    background-color: green;
    display: flex;
    justify-content: center;
}
.main .c2 .lc{
    background-color: burlywood;
    height: 30px;
    width: 980px;
    display: flex;
    justify-content: right;
}
.main .c2 .lc ul{
    display: flex;
}
.main .c2 .lc ul li{
    list-style-type: none;
     margin-left: 20px;
}

.main .c2 .lc ul li a{
   
    line-height: 30px;  
    text-decoration: none;
}
.main .c3{
    height: 135px;
    background-color: yellow;
    display: flex;
    justify-content: center;
}
.main .c3 .tc{
    background-color: rgb(186, 122, 122);
    height: autopx;
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .c3 .tc .chu > ul{
    display: flex;

}
.main .c3 .tc .chu ul li{
    list-style-type: none;
    height: 60px;
    width: 150px;
    position: relative;
}
.main .c3 .tc .chu ul li a{
    text-decoration: none;
    line-height: 60px;
}
.main .c3 .tc .chu ul li .submenu{
    position: absolute;
    display: none;
}
.main .c3 .tc .chu ul li:hover .submenu{
    display: block;
}
.main .c4{
    width: auto;
    height: 160px;
    background-color: fuchsia;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .c4 .ttc{
    width: 980px;
    height: 90px;
    background-color: cadetblue;
}
.main .c4 .ttc ul{
    display: flex;
}
.main .c4 .ttc ul li{
    list-style-type: none;
}
.main > .c5 {
    width: auto;
    height: 450px;
    background-color: crimson;
    display: flex;
    justify-content: center;
}
.main .c5 .slider{
    max-width: 1000px;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
}
.main .c5 .slider > i{
    position: absolute;
    top:50%;
    width: 50px;
    height: 50px;
    color: #999;
    background-color: white;
    border-radius: 100rem;
    text-align: center;
    line-height: 50px;
    z-index: 3;
    
}
.main .c5 .slider #sl1{
    right: 97%;
}
.main .c5 .slider #sl2{
    left: 97%;
}
.main .c5 .slider ul{
    display: flex;
    position: absolute;
    top:400px;
}
.main .c5 .slider ul li{
    list-style-type: none;
    margin: 0px 5px;
    z-index: 3;
    color: #999;
}
.main .c5 .slider .slider-wrapper{
    width: 980px;
    height: 450px;
    background-color: cornsilk;
    overflow: hidden;
    position: relative;
}
.main .c5 .slider .slider-wrapper .slider-main{
    display: flex;
    position: relative;
    transition: transform 0.25s linear;
}

.main .c5 .slider .slider-main .slider-item{
    height: 100%;
    width: 100%;
    flex: 1 0 100%;
}
.main .c5 .slider .slider-main .slider-item img{
    width: 980px;
    height: 450px;
}
.dot.active{
    color: white;
}

